<h2>Blog Contributors</h2>

<div class="gallery">
    <figure class="gallery__item gallery__item--1">
    <img src="/OCMS-blog/assets/images/avatar/sandi.png" class="gallery__img" alt="Image 1">
    <figcaption>Dr. Sandi Yen</figcaption>
  </figure>
  <figure class="gallery__item gallery__item--2">
    <img src="/OCMS-blog/assets/images/avatar/jethro.png" class="gallery__img" alt="Image 2">
    <figcaption>Dr. Jethro Johnson</figcaption>
  </figure>
  <figure class="gallery__item gallery__item--3">
    <img src="/OCMS-blog/assets/images/avatar/nick.png" class="gallery__img" alt="Image 3">
    <figcaption>Dr. Nick Ilott</figcaption>
  </figure>
  <figure class="gallery__item gallery__item--4">
    <img src="/OCMS-blog/assets/images/avatar/sam.png" class="gallery__img" alt="Image 4">
    <figcaption>Dr. Sam Bullers</figcaption>
  </figure>
</div>
