<!DOCTYPE html>
<html>
<!-- ******header****** -->
<header id="header" class="header">
    <div class="container">
        <div class="branding">
            <h1 class="logo"><a href="/">
                    <span class="icon_documents_alt icon" aria-hidden="true"></span>
                    <span class="text-highlight">OCMS</span>
                    <span class="text-bold">Blog</span>
                </a></h1>
        </div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">{{ page.title }}</li>
        </ol>
    </div><!--//container-->
</header><!--//header-->
</html>
